<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tonyg.trojanow" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/trojan_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".CreatePostActivity"
            android:label="@string/title_activity_create_post" >
        </activity>
        <activity
            android:name=".MyPostsActivity"
            android:label="@string/title_activity_my_posts" >
        </activity>
        <activity
            android:name=".control.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".TabViewActivity"
            android:label="TrojaNow" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".SendMessageActivity"
            android:label="@string/title_activity_send_message" >
        </activity>
        <activity
            android:name=".UserPostActivity"
            android:label="@string/title_activity_user_post" >
        </activity>
        <activity
            android:name=".MessengerActivity"
            android:label="@string/title_activity_messenger" >
        </activity>
    </application>

</manifest>
